html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  font-family: "Roboto-Bold";
}

h2, h3 {
  font-size: 1.5rem;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.ttf");
}
.btn-degrade {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0px 7px 8px 2px #d7d7d7;
}

.footer {
  background-color: #282c34;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: initial;
}
.footer__titre {
  font-family: "Shrikhand";
}
.footer__liste {
  list-style: none;
  padding: 0;
}
.footer__liste-element {
  padding: 0.25rem 0;
}
.footer__liste-logo {
  height: 0.8rem;
  width: 0.8rem;
  padding-right: 0.5rem;
}
.footer__liste-texte {
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}

.header {
  width: auto;
  text-align: center;
  padding: 0.5rem;
}
.header__titre {
  margin: 0;
}
.header__logo-titre {
  width: 10rem;
  padding-top: 0.5rem;
}
.header__logo-retour {
  width: 1rem;
}
.header--grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  align-items: center;
}

.index {
  font-family: "Roboto";
}
.index__recherche-ville {
  background-color: #e3e3e3;
  box-shadow: inset 0px 5px 3px -1px #C3C4C3;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}
.index__label-ville {
  height: 2rem;
  margin: auto 0;
  width: 8rem;
}
.index__texte-ville {
  border: none;
  background: #e3e3e3;
  height: 2rem;
  margin: auto 0;
  font-family: "Roboto-Bold";
  font-size: 0.9rem;
}
.index__logo-point-map {
  width: 0.8rem;
  padding: 0.8rem;
}
.index__description {
  background-color: #f0f0f0;
  text-align: center;
  height: 17rem;
}
.index__titre-description {
  padding: 2rem 3rem 0 3rem;
  margin: 0;
}
.index__texte-description {
  font-family: "Roboto-Light";
  font-size: 1.1rem;
  margin: 1rem;
  padding-bottom: 1.5rem;
}
.index__btn-description {
  padding: 0.8rem 1.2rem;
}
.index__section {
  padding: 1rem;
}
.index__section--fond {
  background-color: #f0f0f0;
}
.index__section--marge-bas {
  margin-bottom: 2rem;
}
.index__etape-reservation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index__etape-logo {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  fill: #8a8a8a;
}
.index__etape-numero {
  background-color: #9356DC;
  border-radius: 2rem;
  width: 1.4rem;
  height: 1.2rem;
  text-align: center;
  color: white;
  z-index: 1;
  padding-top: 0.2em;
  font-size: 0.8rem;
}
.index__etape-cadre {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 10px 2px #d7d7d7;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem 0.5rem -0.5rem;
  display: flex;
  width: -moz-available;
  align-items: center;
}
.index__etape-cadre:hover {
  background-color: #e4d5f6;
}
.index__etape-cadre:hover > .index__etape-logo {
  fill: #9356DC;
}
.index__etape-texte {
  font-family: "Roboto-Bold";
  padding: 0 1rem;
}
.index__restaurant {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
}
.index__restaurant-liste {
  padding: 0.5rem 0;
}
.index__restaurant-image {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 10rem;
  object-fit: cover;
  grid-column: 1/5;
  grid-row: 1/3;
  border-radius: 1rem 1rem 0rem 0rem;
}
.index__restaurant-nouveaute {
  grid-column: 4/5;
  grid-row: 1;
  background-color: #99E2D0;
  padding: 0.5rem;
  margin: 1rem;
  color: #278870;
  font-family: "Roboto-Bold";
  border-radius: 0.2rem;
  font-size: 0.8rem;
  width: min-content;
}
.index__restaurant-nouveaute--inactif {
  display: none;
}
.index__restaurant-cadre {
  background-color: white;
  grid-column: 1/5;
  grid-row: 3;
  border-radius: 0rem 0rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: black;
}
.index__restaurant-nom {
  grid-column: 1/4;
  grid-row: 1;
  margin: 1rem 0 0.2rem 1rem;
}
.index__restaurant-description {
  grid-column: 1/4;
  grid-row: 2;
  margin: 0 0 1rem 1rem;
  font-family: "Roboto-Light";
}
.index__restaurant-logo-coeur {
  grid-column: 5;
  grid-row: 1/3;
  width: 1.5rem;
  margin: 1rem;
  fill: none;
  stroke: black;
  stroke-width: 20;
}
.index__restaurant-logo-coeur:hover {
  fill: url(#Gradient-1);
  stroke: none;
}

.page-menu {
  background-color: #f0f0f0;
}
.page-menu__image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.page-menu__titre-page {
  background: #f0f0f0;
  height: 4rem;
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.page-menu__nom-restaurant {
  font-family: "Shrikhand";
  font-size: 1.5rem;
}
.page-menu__logo-coeur {
  width: 1.5rem;
  stroke: black;
  fill: none;
  stroke-width: 20;
}
.page-menu__logo-coeur:hover {
  fill: url(#Gradient-1);
  stroke: none;
}
.page-menu__section-plat {
  margin: 0 1rem;
}
.page-menu__titre-menu {
  font-variant: all-small-caps;
  font-family: "Roboto-Light";
  font-size: 1.2rem;
  border-bottom: #99E2D0 solid 3px;
  width: 3rem;
  padding: 0.2rem 0;
}
.page-menu__plat-cadre {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px 2px #d7d7d7;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  margin: 1rem 0;
}
.page-menu__plat-cadre:hover > .page-menu__plat-validation {
  width: 50px;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 500ms;
  display: block;
}
.page-menu__plat-validation {
  grid-column: 5;
  grid-row: 1/3;
  background: aquamarine;
  transform: scaleX(0);
  border-radius: 0 1rem 1rem 0;
}
.page-menu__plat-nom {
  padding: 0.2rem;
  font-size: 1rem;
  margin: 0;
  grid-column: 1/5;
  grid-row: 1;
}
.page-menu__plat-texte {
  padding: 0.2rem;
  grid-column: 1/4;
  grid-row: 2;
  font-family: "Roboto-Light";
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 14rem;
  white-space: nowrap;
}
.page-menu__plat-prix {
  font-family: "Roboto-Bold";
  font-size: 0.8rem;
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.page-menu__section-commande {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 3rem 2rem;
}
.page-menu__commander {
  padding: 0.8rem 3rem;
  font-family: "Roboto-Bold";
}

/*@import "./theme/";*/
img {
  width: 2rem;
}

/*# sourceMappingURL=style.css.map */
