@for $i from 1 through 10 {
    .plat-#{$i} {
        animation: fadein (1s*$i);
    }
}
@keyframes fadein{
    0%{
        transform: translateY(2rem);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
        
    }
}
@keyframes hover-coeur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
