@for $i from 1 through 10 {
    .plat-#{$i} {
        animation: fadein (1s*$i);
    }
}
@keyframes fadein{
    0%{
        transform: translateY(2rem);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
        
    }
}
@keyframes hover-coeur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.loader{
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    animation: loading 3.5s forwards;
    padding-top: 6rem;
    @keyframes loading {
        0%{
            opacity: 1;
            z-index: 10;
        }
        60%{
            opacity: 1;
        }
        70%{
            opacity: .75;
        }
        80%{
            opacity: .50;
        }
        90%{
            opacity: .25;
        }
        100%{
            opacity: 0;
            z-index: 0;

        }
        
    }
    &__fumee{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--droite{
            position: relative;
            left: -1rem;
           
        }
        &--gauche{
            position: relative;
            left: 1.5rem;
            padding: 1rem;
        }
        &--decale{
            left: -1rem;
            position: relative;
        }   
    }
    &__fumee-1 {
        width: 50px;
        height: 50px;
        border: 5px solid transparent;
            border-top-color: transparent;
            border-top-style: solid;
            border-top-width: 10px;
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 10px;
        border-top: 5px solid $secondaire;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        bottom: -2rem;
        position: relative;
        
        @keyframes spin {
            0% { transform: rotate(100deg);}
            100% { transform: rotate(80deg);}
        }       
    }
    &__fumee-3 {
        width: 50px;
        height: 50px;
        border: 5px solid transparent;
            border-top-color: transparent;
            border-top-style: solid;
            border-top-width: 10px;
        border-top: 5px solid $secondaire-clair;
        border-radius: 50%;
        animation: spin-inverse 2s linear infinite;
        @keyframes spin-inverse {
            0% { transform: rotate(-100deg);}
            100% { transform: rotate(-80deg);}
        }
    }
    &__cloche{
        width:100px;
        margin: auto;
        display: block;
        fill: $primaire;
    }
}