@font-face {
font-family: "Shrikhand";
src:
url("../font/Shrikhand-Regular.ttf"),
}
@font-face {
    font-family: "Roboto";
    src:
    url("../font/Roboto-Regular.ttf"),
}
@font-face {
    font-family: "Roboto-Bold";
    src:
    url("../font/Roboto-Bold.ttf"),
}
@font-face {
    font-family: "Roboto-Light" ;
    src: 
    url("../font/Roboto-Light.ttf");
}
