.index{
    &__recherche-ville{
        background-color: $couleur-fond-gris-moyen;
        box-shadow: inset 0px 5px 3px -1px #C3C4C3;
        display: flex;
        justify-content: center;
        padding: .3rem;
    }
    &__label-ville{
        height: 2rem;
        margin: auto 0;
        width: 8rem;
    }
    &__texte-ville{
        border: none;
        background: $couleur-fond-gris-moyen;
        height: 2rem;
        margin: auto 0;
        font-family: $texte-gras;
        font-size: .9rem;
    }
    &__logo-point-map{
        width:.8rem;
        padding: .8rem;
    }
    &__description{
        background-color: $couleur-fond-gris-clair;
        text-align: center;
        height: 17.5rem;
    }
    &__titre-description{
        padding: 2rem 3rem 0 3rem;;
        margin: 0;
    }
    &__texte-description{
        font-family: "Roboto-Light";
        font-size: 1.1rem;
        margin: 1rem;
        padding-bottom: 1.5rem;
        
    }
    &__btn-description{
        color: $couleur-texte-fond-fonce;
        background: linear-gradient($secondaire,$primaire);
        padding: .8rem 1.2rem;
        border-radius: 2rem;
        text-decoration: none;
        font-family: $texte;
        font-size: 1rem;
        box-shadow: 0px 7px 8px 2px $couleur-fond-gris-fonce;
    
    }
}