.page-menu{
    background-color: $couleur-fond-gris-clair;
    &__image{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    &__titre-page{
        background: $couleur-fond-gris-clair;
        height: 4rem;
        border-radius: 2rem 2rem 0 0;
        margin-top: -4rem;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .5rem 0;
    }
    &__nom-restaurant{
        font-family: $titre;
        font-size: 1.5rem;

    }
    &__logo-coeur{
        width: 1.5rem;
        stroke: $couleur-texte-fond-clair;
        fill: none;
        stroke-width: 20;
        &:hover{
            fill: url(#Gradient-1);
            stroke: none; 
        }
    }
    &__section-plat{
        margin: 0 1rem;
    }
    &__titre-menu{
        font-variant: all-small-caps;
        font-family: $texte-fin;
        font-size: 1.2rem;
        border-bottom: $terciaire solid 3px;
        width: 3rem;
        padding: .2rem 0;
    }
    &__plat-cadre{
        background: $couleur-texte-fond-fonce;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px 2px $couleur-fond-gris-fonce;
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 1rem 0;
        animation: 1s;
        &:hover
            >.page-menu__plat-validation{
                grid-column: 5;
                grid-row: 1/3;
                width: 4rem;
                background: aquamarine;
                margin: -0.5rem;
                border-radius: 0 1rem 1rem 0;
                transition: transform 330ms ease-in-out;
            }
    }
    &__plat-nom{
        padding: .2rem;
        font-size: 1rem;
        margin: 0;
        grid-column: 1/5;
        grid-row: 1;
    }
    &__plat-texte{
        padding: .2rem;
        grid-column: 1/4;
        grid-row: 2;
        font-family: $texte-fin;
        font-size: .8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 14rem;
        white-space: nowrap;
    }
    &__plat-prix{
        font-family: $texte-gras;
        font-size: .8rem;
        grid-column: 4;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }
    &__section-commande{
        display: flex;
        justify-content: center;
        padding: 2rem 2rem 3rem 2rem;
    }
    &__commander{
        padding: .8rem 3rem;
        font-family: $texte-gras;
    }

}