$primaire : #9356DC;
$primaire-transparence : #9356DC1C;
$secondaire : #FF79DA;
$terciaire : #99E2D0;
$couleur-texte-fond-clair : black;
$couleur-texte-fond-fonce : white;
$couleur-fond-gris-clair: #f6f6f6;
$couleur-fond-gris-moyen:#eaeaea;
$couleur-fond-gris-fonce:#dcdcdc ;

$titre : "Shrikhand";
$texte : "Roboto";
$texte-gras : "Roboto-Bold";
$texte-fin: "Roboto-Light";
