$primaire : #9356DC;
$secondaire : #FF79DA;
$terciaire : #99E2D0;
$couleur-texte-fond-clair : black;
$couleur-texte-fond-fonce : white;

$titre : "Shrikhand";
$texte : "Roboto";
$texte-gras : "Roboto-Bold";
