$primaire : #9356DC;
$primaire-transparence :lighten($primaire, 30%);
$primaire-clair:lighten($primaire,5%);
$primaire-fonce: darken($primaire, 30%);
$secondaire : #FF79DA;
$secondaire-clair:lighten($secondaire,5%);
$terciaire : #99E2D0;
$gradient: linear-gradient($secondaire,$primaire);
$gradient-seconde-terciaire: linear-gradient($terciaire,$secondaire);
$gradient-clair:linear-gradient($secondaire-clair,$primaire-clair);
$couleur-texte-fond-clair : black;
$couleur-texte-fond-fonce : white;
$couleur-texte-nouveau: darken($terciaire, 40%);
$couleur-fond-gris-clair:#f0f0f0;
$couleur-fond-gris-clair-moyen: darken($couleur-fond-gris-clair,5%);
$couleur-fond-gris-moyen: darken($couleur-fond-gris-clair, 20%);
$couleur-fond-gris-fonce: darken($couleur-fond-gris-clair, 10%);
$couleur-fond-gris-tres-fonce: darken($couleur-fond-gris-clair, 40%);

$titre : "Shrikhand";
$texte : "Roboto";
$texte-gras : "Roboto-Bold";
$texte-fin: "Roboto-Light";
